@import "shared/color"; // Need to import shared colours explicitly


// Shades
// ------------------------------------------------------------------

// usage e.g: color: shade(example, light);
$shades: (
    dmHenderson: (
      Lightest: lighten($dmHenderson, 30%),
      Light:    lighten($dmHenderson, 10%)
    ),
    dmEleven: (
      Lightest: lighten($dmEleven, 30%),
      Light:    lighten($dmEleven, 10%)
    ),
    dmWheeler: (
      Dark:     darken($dmWheeler, 17%),
      Darkest:  darken($dmWheeler, 30%)
    ),
    dmHopper: (
      Dark:     darken($dmHopper, 10%),
      Darkest:  darken($dmHopper, 30%)
    ),
    dmMayfield: (
      Dark:     darken($dmMayfield, 10%),
      Darkest:  darken($dmMayfield, 30%)
    ),
    dmHargrove: (
      Dark:     darken($dmHargrove, 3%)
    ),
    dmSinclair: (
      Dark:     darken($dmSinclair, 40%)
    )
);

@function shade($palette, $tone) {
    @return map-get(map-get($shades, $palette), $tone);
}


// Assign colours from variables in shared/color.scss
// ------------------------------------------------------------------


// Roles
$dmPrime: 					$dmHenderson;
$dmPrimeAccent: 		shade(dmHenderson, Light);


// Actions
$dmAction: 					shade(dmHenderson, Light);
$dmActionRespond: 	shade(dmWheeler, Dark);
$dmActionVisited:   shade(dmWheeler, Darkest);

// Default text colors
$dmHeadings: 				$dmByers;
$dmText: 						$dmHolland;

// Misc. color assignments
$dmBorder:          shade(dmHargrove, Dark);
$dmDisabled: 				$dmHawkins;
$dmScrollbar: 			$dmPrime;

// Non-brand feedbacks
$dmError: 					#B10E1E;
$dmSuccess: 				#00823B;
$dmAlert: 					#FFBF47;
