
// General spacing options
// ------------------------------------------------------------------

$spaceBase: 20px;
$spaceBaseP: 10%;


// Buffers. Edge spacing of parent elements generally (rows etc...)
$bufferSpaceS:	$spaceBase;
$bufferSpaceM:	$spaceBase*2;
$bufferSpaceL:	$spaceBase*4;


// Double declare variable so we know what the largest buffer size is
$bufferSpaceMax:	$bufferSpaceL;
