// Local mixins

@mixin fauxUnderline($color) {
  background-image: linear-gradient(
    to top,
    rgba($color, 0) 3%,
    rgba($color, 0.5) 3%,
    rgba($color, 0.5) 14%,
    rgba($color, 0) 14%
  );
}

@mixin gutterPull($viewport, $pull) {
  @include respond-to($viewport) {
    left: -$pull;
    width: calc(100% + #{$pull});
  }
}

@mixin gutterPullPersist($viewport, $pull) {
  left: -$pull/1.6;
  width: calc(100% + #{$pull});
  @include respond-to($viewport) {
    left: -$pull;
  }
}

@mixin shadowSubtle($shadow) {
  box-shadow: 0 1px 0 rgba($shadow, 0.05),
              0 2px 1px rgba($shadow, 0.1);
}
