// Local mixins

@mixin fauxUnderline($color) {
  background-image: linear-gradient(
    to top,
    rgba($color, 0) 3%,
    rgba($color, 0.5) 3%,
    rgba($color, 0.5) 14%,
    rgba($color, 0) 14%
  );
}

@mixin gutterPull($viewport, $pull) {
  @include respond-to($viewport) {
    left: -$pull;
    width: calc(100% + #{$pull});
  }
}

@mixin gutterPullPersist($viewport, $pull) {
  left: -$pull/1.5;
  width: calc(100% + #{$pull});
  @include respond-to($viewport) {
    left: -$pull;
  }
}
