
// Viewports. Horizontal break widths
// Use example @include respond-to(var) { }. See mixins.scss for all options
// ------------------------------------------------------------------

$vpA: 300px;
$vpB: 600px;
$vpC: 850px;
$vpD: 1080px;
$vpE: 1180px;
$vpF: 1270px;
$vpG: 1470px;
$vpH: 1680px;
$vpG: 2100px;
$vpMax: $vpG;

// Assign viewports to tasks
$vpTable:					$vpC;		               // Table view switch
$vpMenu:					$vpC;		               // Menu for small screen switch
$vpGutter:        $vpG;                  // Guttering
$vpDeviceSafe:		800px;	               // Safe width for tablet type things as they can be odd


// ------------------------------------------------------------------

// Buffer switch points. Add as required
$vpRowBufferA:		$vpC;

// Maximum container if using set-max width. Often used in '.row'
$containerMax:	($vpE + $bufferSpaceMax*2);
