// ---
// I like to prefix a colour name with the initials of the project. Eg 'dm'
// ---

// Brand colours
$dmJumpsuit: 				#f98787;
$dmSmokewater: 			#bb86d8;
$dmBlossom: 				#c45092;
$dmGinblossom: 			#f8e3ef;

// Greyscales
$dmCoalface: 				#181818;
$dmCoalfaceLight: 	lighten($dmCoalface, 20%);
$dmGhost: 					lighten($dmCoalface, 75%);
