
a.anchor {
  margin-left: 6px;
  color: $dmHolland;
  transform: translateY(-2px);
  position: absolute;
  display: block;
  background-image: none;
  @include gutterPullPersist($vpGutter, $docsGutter);
  @include link-active-styles {
    color: $dmPrime;
    background-image: none;
  }
}

a.anchor,
a.anchor .icon {
  width: 18px;
  height: 18px;
  @include respond-to($vpGutter) {
    width: 24px;
    height: 24px;
  }
}
