
.beacon {
  margin: $bufferSpaceM 0;
  position: relative;
  &_heading {
    display: block;
    @extend .typeM;
    @extend .heading;
  }
  &Block {
    padding: $bufferSpaceM;
    background-color: $dmHargrove;
    border-left: $strokeWidth*2 solid $dmPrimeAccent;
    @include gutterPull($vpGutter, $docsGutter);
    @include respond-to($vpGutter) {
      padding-left: $docsGutter;
    }
    ul {
      @extend .unordered_list;
    }
    ol {
      @extend .ordered_list;
    }
    ol, ul {
      padding-left: rem(20);
      li {
        @extend %listlead;
      }
    }
  }
  &Media {
    @include gutterPull($vpGutter, $docsGutter);
    img {
      height: auto;
      max-width: 100%;
      display: block;
      border: 1px solid $dmBorder;
      padding: 5px;
    }
  }
  &Figure {
    display: block;
    @include gutterPull($vpGutter, $docsGutter);
    img {
      height: auto;
      max-width: 100%;
      display: block;
      border: 1px solid $dmBorder;
      padding: 5px;
    }
    figcaption {
      display: block;
      h1,h2,h3,h4,h5,h6,p,li {
        font-size: rem($typeS);
        font-weight: $fontNormal;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  &Video {
    height: 0;
    padding-bottom: $ratioWidescreen; /* True 16:9 */
    @include respond-to($vpGutter) {
      padding-bottom: calc(#{$ratioWidescreen} + 30px); // Adjusted 16:9 to account for left pull
    }
    iframe {
      position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
      @include gutterPull($vpGutter, $docsGutter);
    }
  }
}

// If it resides in typebase, which it most likely will remove the top margin if it's first in line
.typebase > .beacon:first-child {
  margin-top: 0;
}
