// Button defaults
// ------------------------------------------------------------------

$btnSmall:    46px;
$btnDefault:  54px;
$btnLarge:    60px;
$btnRadius:   0;
$btnPadding:  25px;

// Button base style

%button {
  cursor: pointer;
  font-weight: $fontNormal;
  position: relative;
  padding: 0 $btnPadding*4 0 $btnPadding;
  vertical-align: middle;
  text-align: left;
  color: $dmWheeler;
  text-decoration: none;
  display: inline-block;
  border-radius: $btnRadius;
  transition-property: color;
  transition-duration: 0.5s;
  overflow: hidden;
  background-image: none;
  letter-spacing: 0.1rem;
  text-align: left;
  transition: background-color linear 0.7s;
  span {
    font-size: inherit;
    font-weight: inherit;
  }
}

// Sizes
// ------------------------------------------------------------------

a.button,
button.button {
  @extend %button;
  font-size: rem($typeMe);
  line-height: $btnDefault;
  background-color: $dmPrime;
  color: $dmWheeler;
  background-image: linear-gradient($lightAngle, rgba($dmPrime, 0.6) 0%, rgba($dmPrime, 0.6) 35%, rgba($dmEleven, 0.6) 100%);
  @include link-active-styles {
    background-color: $dmEleven;
  }
  &:visited { color: $dmWheeler; }
  &:focus   { background-color: $dmWheeler; }
  &Secondary {
    background-image: linear-gradient($lightAngleRefraction, rgba($dmWheeler, 0.6) 0%, rgba($dmWheeler, 0.6) 15%, rgba($dmPrime, 0.6) 100%);
    &:visited { color: $dmWheeler; }
    &:focus   { background-color: shade(dmHopper, Darkest); }
  }
  &Small {
    font-size: rem($typeXS);
    line-height: $btnSmall;
  }
  &Large {
    font-size: rem($typeMe);
    line-height: $btnLarge;
  }
  &Waypoint {
    font-size: rem($typeXS);
    line-height: 1.6;
    padding-top: $btnPadding;
    padding-bottom: $btnPadding;
    color: $dmHargrove;
    &:visited { color: $dmHargrove; }
    span {
      color: $dmWheeler;
      display: block;
    }
    @include respond-to-max($vpC) {
      span {
        display: none;
      }
    }
  }
  &Disabled {
    cursor: not-allowed;
    filter: grayscale(100%);
    @include link-active-styles {
      animation-name: buttonBuzz;
      animation-duration: 0.8s;
      animation-timing-function: linear;
      animation-iteration-count: 1;
      transform-origin: center;
    }
    &:focus {
      outline: none;
    }
  }
}


// Aria label style
// Allows us to have an aria unique label but shortend visual label
// ------------------------------------------------------------------

.buttonA11y {
  position: relative;
	overflow: hidden;
	span {
		left: -1000px;
		position: absolute;
		display: inline-block;
	}
	&:after {
		 content: attr(title);
		 display: block;
		 color: inherit;
     font-size: inherit;
	}
}

// Groups
// ------------------------------------------------------------------

.button_wayfinders {
  overflow: hidden;
  margin-bottom: $bufferSpaceXL;
  display: flex;
  .button {
    width: 50%;
    float: left;
    &:nth-child(2) {
      text-align: right;
      padding-left: $btnPadding*4;
      padding-right: $btnPadding;
    }
  }
}
