
.card {
  position: relative;
  @include shadowSubtle($dmHarrington);
  &Filler {
    transition: background-color linear 1.2s;
    background-color: $dmByers;
    @include respond-to($vpB) {
      min-height: 200px;
    }
  }
  &_image {
    height: 0;
    padding-bottom: 56%;
    width: 100%;
    background-color: $dmSinclair;
    background-image: linear-gradient($lightAngle, rgba($dmPrime, 0.6) 0%, rgba($dmPrime, 0.6) 35%, rgba($dmEleven, 0.6) 100%);
    transition: background-color linear 1.2s;
    display: block;
    overflow: hidden;
    position: relative;
  }
  &_body {
    padding: $bufferSpaceS;
    display: block;
    .cardFiller & {
      position: relative;
      @include respond-to($vpB) {
        top: 50%;
        transform: translateY(-50%);
      }
      @include respond-to($vpD) {
        padding-left: $bufferSpaceL;
        padding-right: $bufferSpaceL;
      }
    }
  }
  &_heading {
    font-size: rem($typeS);
    @extend .heading;
    word-break: break-all;
    word-wrap: break-word;
    @include respond-to($vpE) {
      font-size: rem($typeMe)
    }
    .cardFiller & {
      font-size: rem($typeMe);
      color: #fff;
      text-align: center;
      @include respond-to($vpE) {
        font-size: rem($typeL);
        text-align: left;
      }
      @include respond-to($vpG) {
        font-size: rem($typeXL);
      }
    }
  }
  &_synopsis {
    p {
      color: $dmText;
      @extend .typeXS;
      @include leading_adjust(1);
      .cardFiller & {
        color: #fff;
      }
    }
  }
  &:nth-child(2) {
    .card_image {
      background-color: $dmHenderson;
    }
  }
  &:nth-child(3) {
    .card_image {
      background-color: $dmByers;
    }
  }
  &:nth-child(4) {
    .card_image {
      background-color: $dmHopper;
    }
  }
  &:nth-child(5) {
    .card_image {
      background-color: $dmWheeler;
    }
  }
  &:nth-child(6) {
    .card_image {
      background-color: $dmHarrington;
    }
  }
  &:nth-child(7) {
    .card_image {
      background-color: shade(dmWheeler, Darkest);
    }
  }
}

a.card {
  background-image: none;
  font-size: inherit;
  &Filler {
    background-image: linear-gradient($lightAngle, rgba($dmPrime, 0.6) 0%, rgba($dmPrime, 0.6) 35%, rgba($dmEleven, 0.6) 100%);
    @include link-active-styles {
      background-color: $dmEleven;
    }
  }
  @include link-active-styles {
    .card_image {
      background-color: $dmEleven;
    }
  }
}
