
.card {
  position: relative;
  @include shadowSubtle($dmHarrington);
  &_image {
    height: 0;
    padding-bottom: 56%;
    width: 100%;
    background-color: $dmSinclair;
    background-image: linear-gradient($lightAngle, rgba($dmPrime, 0.6) 0%, rgba($dmPrime, 0.6) 35%, rgba($dmEleven, 0.6) 100%);
    transition: background-color linear 1.2s;
    display: block;
    overflow: hidden;
    position: relative;
  }
  &_body {
    padding: $bufferSpaceS;
    display: block;
  }
  &_heading {
    @extend .typeS;
    @extend .heading;
    word-break: break-all;
    word-wrap: break-word;
  }
  &_synopsis {
    p {
      color: $dmText;
      @extend .typeXS;
      @include leading_adjust(1);
    }
  }
  &:nth-child(2) {
    .card_image {
      background-color: $dmHenderson;
    }
  }
  &:nth-child(3) {
    .card_image {
      background-color: $dmByers;
    }
  }
  &:nth-child(4) {
    .card_image {
      background-color: $dmHopper;
    }
  }
  &:nth-child(5) {
    .card_image {
      background-color: $dmWheeler;
    }
  }
  &:nth-child(6) {
    .card_image {
      background-color: $dmHarrington;
    }
  }
  &:nth-child(7) {
    .card_image {
      background-color: shade(dmWheeler, Darkest);
    }
  }
}

a.card {
  background-image: none;
  font-size: inherit;
  @include link-active-styles {
    .card_image {
      background-color: $dmEleven;
    }
  }
}
