
.card {
  position: relative;
  @include shadowSubtle($dmHarrington);
  &_image {
    height: 220px;
    width: 100%;
    background-color: $dmSinclair;
    background-image: linear-gradient($lightAngle, rgba($dmPrime, 0.6) 0%, rgba($dmPrime, 0.6) 35%, rgba($dmEleven, 0.6) 100%);
    transition: background-color linear 1.2s;
    display: block;
    overflow: hidden;
    position: relative;
  }
  &_body {
    padding: $bufferSpaceS;
    display: block;
  }
  &_heading {
    @extend .typeS;
    @extend .heading;
    word-break: break-all;
    word-wrap: break-word;
  }
  &_synopsis {
    p {
      color: $dmText;
      @extend .typeXS;
      @include leading_adjust(1);
    }
  }
  &:nth-child(2n) {
    .card_image {
      background-color: $dmMayfield;
    }
  }
  &:nth-child(4n) {
    .card_image {
      background-color: $dmWheeler;
    }
  }
}

a.card {
  background-image: none;
  font-size: inherit;
  @include link-active-styles {
    .card_image {
      background-color: $dmEleven;
    }
  }
}
