
.navigationtoggle {
  display: none;
  width: 100%;
  margin-top: $bufferSpaceS;
  @include respond-to-max($vpMenu) {
    display: block;
  }
}

.navigationwrapper {
  @include respond-to-max($vpMenu) {
    display: none;
  }
}

.navigation {
  position: relative;
  @include respond-to($vpMenu) {
    margin-top: $bufferSpaceL;
  }
  &_parent {

  }
  &_child {
    margin-bottom: $bufferSpaceM;
    @include respond-to($vpE) {
      padding-right: $bufferSpaceM;
    }
  }
  &_item {
    font-size: rem($typeXS);
    margin-top: rem($typeDefault);
    position: relative;
    a,
    a:visited {
      color: $dmText;
    }
    &Parent {
      font-size: rem($typeS);
      a {
        background-image: none;
      }
    }
    &Current {
      > a,
      > a:visited {
        color: $dmPrime;
        @include fauxUnderline($dmActionRespond);
      }
    }
    .navigation_child & {
      padding-left: $bufferSpaceM;
      &:before {
        content: "";
        display: none;
        height: $strokeWidth;
        width: 12px;
        background-color: $dmPrime;
        position: absolute;
        top: rem($typeS/2);
        left: 0;
      }
      &Current {
        &:before {
          display: block;
        }
        > a,
        > a:visited {

        }
      }
    }
  }
}
