

.navigationtrigger {
  display: none;
  position: relative;
  @include respond-to-max($vpMenu) {
    display: block;
  }
}

.navigationtoggle {
  width: 100%;
  font-size: rem($typeXS);
  border-bottom: $strokeWidth solid $dmPrime;
  padding: $spaceBase/2 0;
  @extend .heading;
  cursor: pointer;
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  .icon {
    position: absolute;
    top: $bufferSpaceS;
    right: 0;
    transform-origin: center center;
    transform: rotateZ(0);
    transition: transform linear 0.125s;
    @include animationHacks;
  }
  &:focus {
    outline: none;
  }
  &Active  {
    .icon {
      transform: rotateZ(-180deg);
    }
  }
}

.navigationwrapper {
  @include respond-to-max($vpMenu) {
    max-height: 1000px;
    overflow: hidden;
    transition: max-height 0.75s ease-out;
    margin-bottom: $bufferSpaceM;
    &Collapsed {
      max-height: 0;
      transition: max-height 0.5s ease-out;
      margin-bottom: 0;
    }
  }
}

.navigation {
  position: relative;
  @include respond-to($vpMenu) {
    margin-top: $bufferSpaceM;
  }
  @include respond-to($vpF) {
    margin-top: $bufferSpaceL;
  }
  &_parent {

  }
  &_child {
    display: none;
    margin-bottom: $bufferSpaceM;
    .navigation_itemCurrent & {
      display: block;
    }
    @include respond-to($vpE) {
      padding-right: $bufferSpaceM;
    }
  }
  &_item {
    font-size: rem($typeXS);
    margin-top: rem($typeDefault);
    position: relative;
    a,
    a:visited {
      color: $dmText;
    }
    a {
      display: block;
      // @include respond-to-max($vpMenu) {
      //   display: block;
      // }
      @include link-active-styles {
        color: $dmPrime;
      }
    }
    &Parent {
      font-size: rem($typeS);
      a {
        background-image: none;
      }
    }
    &Current {
      > a,
      > a:visited {
        color: $dmPrime;
        @include respond-to($vpMenu) {
          display: inline;
          @include fauxUnderline($dmActionRespond);
        }
      }
    }
    .navigation_child & {
      padding-left: $bufferSpaceM;
      &:before {
        content: "";
        display: none;
        height: $strokeWidth;
        width: 12px;
        background-color: $dmPrime;
        position: absolute;
        top: rem($typeS/1.8);
        left: 0;
      }
      &Current {
        &:before {
          display: block;
        }
      }
    }
  }
}
