
.searchbar {
  margin-top: $bufferSpaceS;
  position: relative;
  @include respond-to-max($vpMenu) {
    margin-bottom: $bufferSpaceM;
  }
  &_label {
    // TODO: This should really be on a hook to check for JS first
    display: none;
  }
  &_field {
    position: relative;
    b {
      display: none;
      position: absolute;
      left: -400px;
      top: 0;
      height: 100%;
      width: 400px;
      background-color: $dmPrime;
      @include respond-to($vpMenu) {
        display: block;
      }
    }
  }
  &_input {
    border: none;
    position: relative;
    padding: 12px 55px 12px 26px;
    background-color: $dmPrime;
    width: 100%;
    display: block;
    font-size: rem($typeMe);
    font-family: $fontVoice;
    caret-color: $dmWheeler;
    color: $dmWheeler;
    @include respond-to($vpMenu) {
        padding-left: 0;
    }
    &::placeholder {
      color: $dmWheeler;
    }
    &:focus {
      outline: none;
      background-color: $dmPrimeAccent;
      color: $dmWheeler;
      &::placeholder {
        color: $dmWheeler;
      }
      & + b {
        background-color: $dmPrimeAccent;
      }
    }
  }
  &_button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
    cursor: pointer;
    svg {
      fill: $dmWheeler;
    }
    &:focus {
      outline: none;
    }
  }
}
