
.titlecard {
  position: relative;
  &_version {
    display: block;
    @extend .typeXS;
  }
  .icon {
    fill: $dmPrime;
    margin-bottom: $bufferSpaceS/2;
    left: -12px; // optical alignment
    @extend .animated;
    @extend .lightSpeedIn;
    animation-duration: 0.5s;
    @include animationHacks;
    @include respond-to($vpMenu) {
      margin-bottom: $bufferSpaceM;
    }
  }
}
