{% set title = 'Docs template' %}
{% extends 'layouts/layout.html' %}

{% block aside %}
  <li class="navigation_item navigation_itemParent">
    <a href="">Install &amp; setup</a>
    <ul class="navigation_child">
      <li class="navigation_item"><a href="">Docker / Docker Compose</a></li>
      <li class="navigation_item"><a href="">Kubernetes</a></li>
    </ul>
  </li>
  <li class="navigation_item navigation_itemParent navigation_itemCurrent">
    <a href="">Concepts</a>
    <ul class="navigation_child">
      <li class="navigation_item navigation_itemCurrent"><a href="">Architecture</a></li>
      <li class="navigation_item"><a href="">Snapshots</a></li>
      <li class="navigation_item"><a href="">Configuration</a></li>
      <li class="navigation_item"><a href="">Administration</a></li>
    </ul>
  </li>
  <li class="navigation_item navigation_itemParent"><a href="">Tasks</a></li>
  <li class="navigation_item navigation_itemParent">
    <a href="">Command references</a>
    <ul class="navigation_child">
      <li class="navigation_item"><a href="">CLI</a></li>
      <li class="navigation_item"><a href="">JSON API (for local cluster/cloud)</a></li>
    </ul>
  </li>
  <li class="navigation_item navigation_itemParent"><a href="">Release notes</a></li>
  <li class="navigation_item navigation_itemParent"><a href="">FAQ &amp; troubleshooting</a></li>
  <li class="navigation_item navigation_itemParent"><a href="">Glossary</a></li>
{% endblock %}

{% block content %}
<div class="articlecontainer">
  <article class="article">
    <header class="article_header">
      <span class="article_header_metatag">Concepts.</span>
      <h1 class="typeXL heading">Architecture.</h1>
    </header>
    <div class="article_body">
      <!-- Intro section -->
      <div class="article_section">
        <aside class="article_aside">
          <ul>
            <li><strong>Time:</strong> ~22 mins.</li>
            <li><strong>Level:</strong> Advanced.</li>
          </ul>
        </aside>
        <div class="typebase typebaseSynopsis">
          <p>So strongly and metaphysically did I conceive of my situation then, that while earnestly watching his motions, I seemed distinctly to perceive that my own individuality was now merged in a joint stock company of two.</p>
          <p>That my free will had received a mortal wound; and that another's mistake or misfortune might plunge innocent me into unmerited disaster and death.</p>
        {% include 'layouts/shortcodes/beacon-block.html' %}
        </div>
      </div>
      <!-- Main article section -->
      <div class="article_section">
        <div class="typebase">
          <h2 id="anchorpoint-name">
            <a class="anchor" href="#anchorpoint-name">
              <svg class="icon icon22 icon_link_svg">
                <use xlink:href="./assets/icons/renders/sprite.svg#link"></use>
              </svg>
            </a>
            Heading 2 style is for major sections.
          </h2>
          <p>Therefore, I saw that here was a sort of interregnum in Providence; for its even-handed equity never could have so gross an injustice. And yet still further pondering—while I moved him now and then from between the whale and ship, which would threaten to jam him—still further pondering, I say, I saw that this situation of mine was the precise situation of every mortal that breathes; only, in most cases, he, one way or other, has this Siamese connexion with a plurality of other mortals. If your banker breaks, you snap; if your apothecary by mistake sends you poison in your pills, you die.</p>
          <p>True, you may say that, by exceeding caution, <a href="#nonvisted">you may possibly escape</a> these and the multitudinous other evil chances of life. But handle Queequeg's monkey-rope heedfully as I would, sometimes he moved it so, that I came very near sliding overboard. Nor could I possibly forget that, do what I would, I only had the management of one end of it.</p>
        {% include 'layouts/shortcodes/beacon-video.html' %}
          <p>I say, I saw that this situation of mine was the precise situation of every mortal that breathes; only, in most cases, he, one way or other, has this Siamese connexion with a plurality of other mortals. If your banker breaks, you snap; if your apothecary by mistake sends you poison in your pills, you die.</p>
          <h3 id="anchorpoint-name2">
            <a class="anchor" href="#anchorpoint-name2">
              <svg class="icon icon22 icon_link_svg">
                <use xlink:href="./assets/icons/renders/sprite.svg#link"></use>
              </svg>
            </a>
            Heading 3 or 4 for sub-sections
          </h3>
          <p>Therefore, I saw that here was a sort of interregnum in Providence; for its even-handed equity never could have so gross an injustice. And yet still further pondering—while I moved him now and then from between the whale and ship, which would threaten to jam him—still further pondering, I say, I saw that this situation of mine was the precise situation of every mortal that breathes; only, in most cases, he, one way or other, has this Siamese connexion with a plurality of other mortals. If your banker breaks, you snap; if your apothecary by mistake sends you poison in your pills, you die.</p>
          <p>True, you may say that, by exceeding caution, you may possibly escape these and the multitudinous other evil chances of life. But handle Queequeg's monkey-rope heedfully as I would, sometimes he moved it so, that I came very near sliding overboard. Nor could I possibly forget that, do what I would, I only had the management of one end of it.</p>
        {% include 'layouts/shortcodes/beacon-media.html' %}
          <p>Therefore, I saw that here was a sort of interregnum in Providence; for its even-handed equity never could have so gross an injustice. And yet still further pondering—while I moved him now and then from between the whale and ship, which would threaten to jam him—still further pondering, I say, I saw that this situation of mine was the precise situation of every mortal that breathes; only, in most cases, he, one way or other, has this Siamese connexion with a plurality of other mortals. If your banker breaks, you snap; if your apothecary by mistake sends you poison in your pills, you die.</p>
          <h5>Heading 5 or six for small sections with no anchor</h5>
          <p>True, you may say that, by exceeding caution, <a href="#nonvisted">you may possibly escape</a> these and the multitudinous other evil chances of life. But handle Queequeg's monkey-rope heedfully as I would, sometimes he moved it so, that I came very near sliding overboard. Nor could I possibly forget that, do what I would, I only had the management of one end of it.</p>
          <ul>
            <li><strong>Goals and Non-Goals</strong>: For the goals and non-goals of the minikube project, please see our <a href="https://git.k8s.io/minikube/docs/contributors/roadmap.md">roadmap</a>.</li>
            <li><strong>Development Guide</strong>: See <a href="https://git.k8s.io/minikube/CONTRIBUTING.md">CONTRIBUTING.md</a> for an overview of how to send pull requests.</li>
            <li><strong>Building Minikube</strong>: For instructions on how to build/test minikube from source, see the <a href="https://git.k8s.io/minikube/docs/contributors/build_guide.md">build guide.</a></li>
            <li><strong>Adding a New Dependency</strong>: For instructions on how to add a new dependency to minikube see the <a href="https://git.k8s.io/minikube/docs/contributors/adding_a_dependency.md">adding dependencies guide.</a></li>
            <li><strong>Adding a New Addon</strong>: For instruction on how to add a new addon for minikube see the <a href="https://git.k8s.io/minikube/docs/contributors/adding_an_addon.md">adding an addon guide.</a></li>
            <li><strong>Updating Kubernetes</strong>: For instructions on how to update kubernetes see the <a href="https://git.k8s.io/minikube/docs/contributors/updating_kubernetes.md">updating Kubernetes guide.</a></li>
          </ul>
        {% include 'layouts/shortcodes/beacon-figure.html' %}
          <h3 id="anchorpoint-name3">
            <a class="anchor" href="#anchorpoint-name3">
              <svg class="icon icon22 icon_link_svg">
                <use xlink:href="./assets/icons/renders/sprite.svg#link"></use>
              </svg>
            </a>
            Heading 3 or 4 for sub-sections
          </h3>
          <p>Therefore, I saw that here was a sort of interregnum in Providence; for its even-handed equity never could have so gross an injustice. And yet still further pondering—while I moved him now and then from between the whale and ship, which would threaten to jam him—still further pondering, I say, I saw that this situation of mine was the precise situation of every mortal that breathes; only, in most cases, he, one way or other, has this Siamese connexion with a plurality of other mortals. If your banker breaks, you snap; if your apothecary by mistake sends you poison in your pills, you die.</p>
          <p>True, you may say that, by exceeding caution, you may possibly escape these and the multitudinous other evil chances of life. But handle Queequeg's monkey-rope heedfully as I would, sometimes he moved it so, that I came very near sliding overboard. Nor could I possibly forget that, do what I would, I only had the management of one end of it.</p>
        </div>
      </div>
    </div>
  </article>
</div>
{% endblock %}
