{% set title = 'datamesh documentation' %}
{% set section = 'index' %}

{% extends 'layouts/layout.html' %}

{% block aside %}
  {% include 'layouts/partials/navigation-primary.html' %}
{% endblock %}

{% block content %}
  {% include 'layouts/partials/masthead.html' %}
  <div class="deck">
    <div class="card">
      <div class="card_image"></div>
      <a href="" class="card_body">
        <h3 class="card_heading">Heading</h3>
        <div class="card_synopsis">
          <p>Datamesh (dm) is a flexible, clusterable data fabric that enables data portability in development, staging, testing, CI/CD and production environments for cloud native applications</p>
        </div>
      </a>
    </div>
  </div>
{% endblock %}
