{% set title = 'dotmesh documentation' %}
{% set section = 'index' %}

{% extends 'layouts/layout.html' %}

{% block aside %}
  {% include 'layouts/partials/navigation-primary.html' %}
{% endblock %}

{% block content %}
  {% include 'layouts/partials/masthead.html' %}

  {% set deckIndex = [
    { "heading" : "Install &amp; setup.", "excerpt" : "Staging, testing, CI/CD and production environments for cloud native applications." },
    { "heading" : "Concepts.", "excerpt" : "Staging, testing, CI/CD and production environments for cloud native applications." },
    { "heading" : "Tasks.", "excerpt" : "Staging, testing, CI/CD and production environments for cloud native applications." },
    { "heading" : "Command references.", "excerpt" : "Staging, testing, CI/CD and production environments for cloud native applications." },
    { "heading" : "Release notes.", "excerpt" : "Staging, testing, CI/CD and production environments for cloud native applications." },
    { "heading" : "FAQ &amp; troubleshooting.", "excerpt" : "Staging, testing, CI/CD and production environments for cloud native applications." },
    { "heading" : "Glossary.", "excerpt" : "Staging, testing, CI/CD and production environments for cloud native applications." }
  ]%}

  <div class="deck">
    {% for item in deckIndex %}
      {% include 'layouts/partials/card.html' %}
    {% endfor %}
    <a href="" class="card cardFiller">
      <div class="card_body">
        <h3 class="card_heading">Let's get started.</h3>
        <svg class="icon icon_arrow_direction_svg">
          <use xlink:href="./assets/icons/renders/sprite.svg#arrow_direction"></use>
        </svg>
      </div>
    </a>
  </div>
{% endblock %}
