{% set title = 'Architecture' %}
{% set section = 'Concepts' %}

{% extends 'layouts/layout.html' %}

{% block aside %}
  {% include 'layouts/partials/navigation-primary.html' %}
{% endblock %}

{% block content %}
<div class="articlecontainer">
  <article class="article">
    {% include 'layouts/partials/article-header.html' %}
    <div class="article_body">
      <!-- Intro section -->
      <div class="article_section">
        <aside class="article_aside">
          <ul class="article_aside_list">
            <li><strong>Time:</strong> ~22 mins.</li>
            <li><strong>Level:</strong> Advanced.</li>
          </ul>
          <h5 class="article_aside_heading">Quick links</h5>
          <ul class="article_aside_anchors">
            <li><a href="#anchorpoint-name">Managing your Cluster.</a></li>
            <li><a href="#anchorpoint-name2">Private Container Registries.</a></li>
            <li><a href="#anchorpoint-name3">Persistent Volumes.</a></li>
          </ul>
        </aside>
        <div class="typebase typebaseSynopsis">
          <p>So strongly and metaphysically did I conceive of my situation then, that while earnestly watching his motions, I seemed distinctly to perceive that my own individuality was now merged in a joint stock company of two.</p><p>That my free will had received a mortal wound; and that another's mistake or misfortune might plunge innocent me into unmerited disaster and death.</p>
          {% include 'layouts/shortcodes/beacon-block.html' %}
        </div>
      </div>
      <!-- Main article section -->
      <div class="article_section">
        <div class="typebase">
          {% include 'layouts/content/article-kitchen-sink.html' %}
        </div>
      </div>
    </div>
  </article>
</div>
{% endblock %}
