{% set title = 'Icons' %}
{% extends 'layouts/layout.html' %}

{% block content %}
<h1 class="guide_h1">{{ title }} examples</h1>
<br/>
<svg class="icon icon36 icon_error_svg">
  <use xlink:href="./assets/icons/renders/sprite.svg#error"></use>
</svg>
<svg class="icon icon36 icon_warning_svg">
  <use xlink:href="./assets/icons/renders/sprite.svg#warning"></use>
</svg>
<svg class="icon icon36 icon_success_svg">
  <use xlink:href="./assets/icons/renders/sprite.svg#success"></use>
</svg>
{% endblock %}
