{% set title = 'Style guide' %}
{% extends 'layouts/guide.html' %}

{% block content %}
<h1 class="guide_h1">{{ title }}</h1>
<ul class="guide_index_list">
  <li><a href="/color.html">Color</a></li>
  <li><a href="/assets/icons/renders/sprite.symbol.html">Icon sprite</a></li>
  <li><a href="/typography.html">Typography</a>
</ul>

<h2 class="guide_h1">Templates: Review</h2>
<ul class="guide_index_list">
  <li><a href="/01-1-article.html">Article</a></li>
</ul>

<h2 class="guide_h1">Templates: In progress</h2>
<ul class="guide_index_list">
  <li><a href="/01-0-index.html">Index</a></li>
</ul>
{% endblock %}
