
.docs {
  @include pie-clearfix;
  @supports (display: grid) {
    display: grid;
    grid-template-areas: "aside body";
    grid-template-columns: 365px 1fr;
  }
  &_aside {
    grid-area: aside;
    background-color: #eee;
    min-height: 100vh;
    width: 365px;
    float: left;
    @supports (display: grid) {
      width: auto;
      float: none;
    }
    .menu {
        padding: $spaceBase*2;
    }
  }
  &_body {
    grid-area: body;
    padding: $spaceBase*2 $spaceBase*2 $spaceBase*2 $spaceBaseP*1.75;
    width: calc(100% - 365px);
    @supports (display: grid) {
      width: auto;
    }
    .typebase {
      max-width: 665px;
    }
  }
}
