
$asideWidth: 365px;
$asideWidthMinor: ($asideWidth - 100px);

.docs {
  @include pie-clearfix;
  @include respond-to($vpMenu) {
    @supports (display: grid) {
      display: grid;
      grid-template-areas: "aside body";
      grid-template-columns: $asideWidthMinor 1fr;
    }
  }
  @include respond-to($vpD) {
    grid-template-columns: $asideWidth 1fr;
  }
  &_aside {
    grid-area: aside;
    padding: $bufferSpaceS;
    @include respond-to($vpMenu) {
      float: left;
      min-height: 100vh;
      width: $asideWidthMinor;
      padding: $bufferSpaceL 0 $bufferSpaceL $bufferSpaceS;
      @supports (display: grid) {
        width: auto;
        float: none;
      }
    }
    @include respond-to($vpD) {
      width: $asideWidth;
      padding-left: $bufferSpaceL;
      @supports (display: grid) {
        width: auto;
      }
    }
    @include respond-to($vpE) {
      padding-left: $bufferSpaceXL;
    }
  }
  &_body {
    grid-area: body;
    padding: $bufferSpaceS;
    @include respond-to($vpMenu) {
      padding: $bufferSpaceL $bufferSpaceM $bufferSpaceM $spaceBaseP;
      width: calc(100% - $asideWidth);
      @supports (display: grid) {
        width: auto;
      }
    }
    @include respond-to($vpD) {
      padding-left: $spaceBaseP*1.75;
    }
  }
}
