// Consistent edges
// ------------------------------------------------------------------

@mixin edgeBufferLeft($type) {
  @if $type == "padding" {
    padding-left: $bufferSpaceS;
  	@include respond-to($vpRowBufferA) {
  		padding-left: $bufferSpaceM;
  	}
  } @else {
    left: $bufferSpaceS;
  	@include respond-to($vpRowBufferA) {
  		left: $bufferSpaceM;
  	}
  }
}

@mixin edgeBufferRight($type) {
  @if $type == "padding" {
    padding-right: $bufferSpaceS;
  	@include respond-to($vpRowBufferA) {
  		padding-right: $bufferSpaceM;
  	}
  } @else {
    right: $bufferSpaceS;
  	@include respond-to($vpRowBufferA) {
  		right: $bufferSpaceM;
  	}
  }
}

// Standard rows
// ------------------------------------------------------------------

// .row {
//   margin-left: auto;
//   margin-right: auto;
//   max-width: $containerMax;
//   min-width: auto;
//   position: relative;
//   @include edgeBufferLeft("padding");
//   @include edgeBufferRight("padding");
// }
