<article class="article">
  {{ partial "components/masthead.html" . }}
  <div class="article_body">
    <!-- Intro section -->
    <div class="article_section">
      <aside class="article_aside">
        {{ partial "components/meta.html" . }}
        {{ partial "components/contents.html" . }}
      </aside>
      <div class="typebase typebaseSynopsis">
        {{ if .Params.synopsis }}
        <p>{{ .Params.synopsis }}</p>
        {{ else }}
        <p style="color: red;">Please add a synopsis to this page</p>
        {{ end }}
      </div>
      <div class="typebase typebaseArticle">
        {{ .Content }}
      </div>
    </div>
  </div>
</article>
