// ---
// Prefix a colour name with the initials of the project. Eg 'dm' for dotmesh
// !default flags allow us to over-ride colorss per project if we need to without changing shared colors
// ---

// Brand colours
// (Use sass' lighten/darken functions to create further shades as needed)
$dmByers: 				  #491D5D!default;
$dmHenderson:       #5c2d70!default;
$dmWheeler:         #21F9EE!default;
$dmHopper:          #00FF7C!default;
$dmEleven:          #ff0062!default;
$dmSinclair:        #db94e0!default;
$dmMayfield:        #f4c7b8!default;


// Greyscales
// (Use sass' lighten/darken functions to create further shades as needed)
$dmHarrington:      #2E1A35!default; // Darkest
$dmHolland:         #948C98!default;
$dmHawkins:         #e4e1e1!default;
$dmHargrove:        #F8F7F7!default; // Lightest
