<li class="navigation_item navigation_itemParent">
  <a href="">Install &amp; setup</a>
  <ul class="navigation_child">
    <li class="navigation_item"><a href="">Docker / Docker Compose</a></li>
    <li class="navigation_item"><a href="">Kubernetes</a></li>
  </ul>
</li>
<li class="navigation_item navigation_itemParent navigation_itemCurrent">
  <a href="">Concepts</a>
  <ul class="navigation_child">
    <li class="navigation_item navigation_itemCurrent"><a href="">Architecture</a></li>
    <li class="navigation_item"><a href="">Snapshots</a></li>
    <li class="navigation_item"><a href="">Configuration</a></li>
    <li class="navigation_item"><a href="">Administration</a></li>
  </ul>
</li>
<li class="navigation_item navigation_itemParent"><a href="">Tasks</a></li>
<li class="navigation_item navigation_itemParent">
  <a href="">Command references</a>
  <ul class="navigation_child">
    <li class="navigation_item"><a href="">CLI</a></li>
    <li class="navigation_item"><a href="">JSON API (for local cluster/cloud)</a></li>
  </ul>
</li>
<li class="navigation_item navigation_itemParent"><a href="">Release notes</a></li>
<li class="navigation_item navigation_itemParent"><a href="">FAQ &amp; troubleshooting</a></li>
<li class="navigation_item navigation_itemParent"><a href="">Glossary</a></li>
