<!doctype html>
<html lang="en-GB" class="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css?{{ now }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}assets/favicons/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}assets/favicons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}assets/favicons/favicon-16x16.png"/>
    <link rel="manifest" href="{{ .Site.BaseURL }}assets/favicons/manifest.json"/>
    <link rel="mask-icon" href="{{ .Site.BaseURL }}assets/favicons/safari-pinned-tab.svg" color="#5c2d70"/>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="theme-color" content="#21F9EE">
    <title>{{ block "title" . }}{{ end }}.</title>
      <script type="text/javascript">
        !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
        analytics.load("ZA3PUzTjl2cCsFSHCD1KDzf750a71285");
        }}();
      </script>
      <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="dbb714df-a82a-4131-9750-82f95bc6844c" type="text/javascript" async></script>
  </head>
  <body>
    <script src="https://track.dotmesh.com/track.min.js"></script>
    <script type="text/javascript">
      var dm_cookie = xDomainCookie('https://track.dotmesh.com', 'dotmesh');
      var dm_tracking_id = trackingID();
      dm_cookie.get('dm_tracking_id', function(cookie_val){
        if(!cookie_val) {
          dm_cookie.set('dm_tracking_id', dm_tracking_id, 365);
        }
        else {
          dm_tracking_id = cookie_val;
        }
      });
      analytics.page({}, {
        anonymousId: dm_tracking_id
      });
    </script>
    <div class="docs">
      <aside class="docs_aside">
        <div class="titlecard">
          <a href="/" rel="home">
            <svg class="icon icon36 icon_marque_small_svg">
              <use xlink:href="{{ .Site.BaseURL }}assets/icons/renders/sprite.svg#marque_small"></use>
            </svg>
          </a>
          <h1 class="typeM heading"><a href="{{ .Site.BaseURL }}" role="home">{{ .Site.Title }}.</a></h1>
          <a class="typeXS" href="https://dotmesh.com/">Visit dotmesh.com</a>
        </div>
  			<div class="navigationtrigger">
  	      <button type="button" class="navigationtoggle" id="navigationtoggle">
  					Menu
  					<svg class="icon icon16 icon_arrow_toggle_svg">
  	          <use xlink:href="{{ .Site.BaseURL }}assets/icons/renders/sprite.svg#arrow_toggle"></use>
  	        </svg>
  				</button>
  			</div>
        <div class="navigationwrapper navigationwrapperCollapsed" id="navigationwrapper">
    			<form class="searchbar" id="searchForm">
    				<div class="searchbar_field">
    					<label for="searchbar_input" class="searchbar_label">Search docs</label>
    					<input class="searchbar_input" type="text" value="" id="searchbar_input" placeholder="Search docs.">
    					<b></b><!-- This isn't a mistake, it's a visual hack -->
    				</div>
    			</form>
          <nav class="navigation">
            <ul class="navigation_parent">
              {{ partial "navigation/primary.html" . }}
            </ul>
          </nav>
        </div>
      </aside>
      <div class="docs_body">
        {{ block "main" . }}
        {{ end }}
      </div>
    </div>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
    <script type="text/javascript">
      // TODO move into external file
      var mainNav = document.getElementById('navigationwrapper');
      var navToggle = document.getElementById('navigationtoggle');

      // Start by adding the class "collapse" to the mainNav
      //mainNav.classList.add('navigationwrapperCollapsed');

      // Establish a function to toggle the class "collapse"
      function mainNavToggle() {
        mainNav.classList.toggle('navigationwrapperCollapsed');
        navToggle.classList.toggle('navigationtoggleActive');
      }
      // Add a click event to run the mainNavToggle function
      navToggle.addEventListener('click', mainNavToggle);

      docsearch({
        apiKey: '6d43307603b5a549a82161f4f44a2d1e',
        indexName: 'dotmesh',
        inputSelector: '#searchbar_input',
        autocompleteOptions : {
          hint: false,
          autoselect: false
        }
      });

      $('#searchForm').on('submit', function(e) {
        if ( e.isDefaultPrevented() ) {
          return
        }
        e.preventDefault();
      });

      $('#searchForm').on('keyup keypress', function(e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
        e.preventDefault();
        return false;
        }
      });



      (function(document, Clipboard) {
        new Clipboard('.copy', {
            target: function(trigger) {
                  var name = trigger.previousElementSibling.getAttribute("data-segment-name");
                  analytics.track('Copy Clicked', {
                    location: name,
                    pageTitle: document.title
                  });
                trigger.innerHTML="copied";
                setTimeout(function() {
                  trigger.innerHTML="copy";
                }, 1500);
                return trigger.previousElementSibling;
            }
        });
      })(document, Clipboard);

      (function() {
        function preCode(selector) {
          var els = Array.prototype.slice.call(document.querySelectorAll(selector), 0);

          els.forEach(function(el) {
            var txt = el.textContent
              .replace(/^[\r\n]+/, "")
              .replace(/\s+$/g, "");

            if (/^\S/gm.test(txt)) {
              el.textContent = txt;
              return;
            }

            var mat, str, re = /^[\t ]+/gm, len, min = 1e3;

            while (mat = re.exec(txt)) {
              len = mat[0].length;

              if (len < min) {
                min = len;
                str = mat[0];
              }
            }

            if (min == 1e3)
              return;

            el.textContent = txt.replace(new RegExp("^" + str, 'gm'), "");
          });
        }


        document.addEventListener("DOMContentLoaded", function() {
          preCode("pre code.copyable, textarea");
        }, false);
      })();
    </script>

  {{ block "footeradditions" . }}
    <script type="text/javascript">

      // Straight up nab from Hugo docs website. Doth of the cap
      var anchorForId = function anchorForId(id) {
        var anchor = document.createElement("a");
        anchor.className = "anchor";
        anchor.href = "#" + id;
        anchor.innerHTML = '<svg class="icon icon_link_svg"><use xlink:href="/assets/icons/renders/sprite.svg#link"></use></svg>';
        return anchor;
      };

      var linkifyAnchors = function linkifyAnchors(level, containingElement) {
        var headers = containingElement.getElementsByTagName("h" + level);
        for (var h = 0; h < headers.length; h++) {
          var header = headers[h];
          if (typeof header.id !== "undefined" && header.id !== "") {
            header.prepend(anchorForId(header.id));
          }
        }
      };

      document.onreadystatechange = function () {
        if (this.readyState === "complete") {
          var contentBlock = document.getElementsByClassName("typebaseArticle")[0];
          if (!contentBlock) {
            return;
          }
          for (var level = 2; level <= 4; level++) {
            linkifyAnchors(level, contentBlock);
          }
        }
      };
    </script>
  {{ end }}
  </body>
</html>
