
// Assign colours from variables
// ------------------------------------------------------------------

$dmPrime: 					$dmJumpsuit;
$dmPrimeAccent: 		$dmSmokewater;
$dmAction: 					$dmSmokewater;
$dmActionRespond: 	$dmBlossom;


// Default text colors
$dmHeadings: 				$dmCoalface;
$dmText: 						$dmCoalface;


// Misc. color assignments
$dmDisabled: 				$dmGhost;
$dmScrollbar: 			$dmPrime;
$dmError: 					red;
$dmSuccess: 				green;
$dmAlert: 					orange;
