
// General spacing options
// ------------------------------------------------------------------

$spaceXS: 	10px;
$spaceS: 		15px;
$spaceMe: 	22px;	// Median
$spaceL: 		40px;
$spaceXL: 	60px;

// ------------------------------------------------------------------

// Buffers. Edge spacing of parent elements generally (rows etc...)
$bufferSpaceS:	$spaceS;
$bufferSpaceM:	$spaceMe;
$bufferSpaceL:	$spaceL;

// Double declare variable so we know what the largest buffer size is
$bufferSpaceMax:	$bufferSpaceL;
