
// Type scale
// ------------------------------------------------------------------

$remRoot: 10;

@function rem($pixels){
	@return $pixels / $remRoot + rem; // Usage = font-size: rem(xx);
}

// General type scale
$scaleRoot: 				10;
$lineheightRoot: 		1.8;

$typeXL: 						$scaleRoot*2.8;
$typeL: 						$scaleRoot*2.2;
$typeM:							$scaleRoot*1.8;
$typeMe:						$scaleRoot*1.6;		// Me = 'median'. Generally the standard font size for the page
$typeS: 						$scaleRoot*1.4;
$typeXS: 						$scaleRoot*1.1;

// Declaritives
$typeDefault: 			$typeMe;

// Fringe sizes
$typeMasthead:			$scaleRoot*7;
$typeHeadline:			$scaleRoot*5.6;
$typeByline:				$scaleRoot*4.2;
