html {
  //@include sharp-text;
  font-size: $scaleRoot + px;
  overflow-x: hidden;
  @media (max-width: $vpDeviceSafe) {
    -webkit-text-size-adjust: 100%;
  }
}

body {
  color: $dmText;
  font-family: $fontDefault;
  line-height: $lineheightBase;
  overflow-x: hidden;
}

*::selection {
  background-color: $dmMayfield;
  color: $dmHarrington;
}

a {
  color: inherit;
  text-decoration: none;
  color: $dmAction;
  @include fauxUnderline($dmWheeler);
  &:visited {
    color: $dmActionVisited;
  }
  @include link-active-styles {
    color: $dmActionRespond;
    @include fauxUnderline($dmWheeler);
  }
}

// Overide iOS telephone styling on links
a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

// Max with utl class
.max_width {
  max-width: 100%;
  height: auto;
  display: block;
}

// Full width utl class
.full_width {
  width: 100%;
  height: auto;
  display: block;
}

// Further sensible resets
strong, b {
  font-weight: $fontBold;
	@include sharp-text;
}

input, textarea, select, button {
  font-family: $fontDefault;
}
