html {
  @include sharp-text;
  font-size: $scaleRoot + px;
  @media (max-width: $vpDeviceSafe) {
    -webkit-text-size-adjust: 100%;
  }
}

body {
  color: $dmText;
  font-family: $fontDefault;
  line-height: $lineheightBase;
}

a {
  color: inherit;
  text-decoration: none;
  &:not(.button) {
    background-image: linear-gradient(
      to top,
      rgba($dmAction, 0) 3%,
      rgba($dmAction, 0.5) 3%,
      rgba($dmAction, 0.5) 14%,
      rgba($dmAction, 0) 14%
    );
  }
  &:visited:not(.button) {
    color: $dmActionVisited;
  }
  @include link-active-styles {
    &:not(.button) {
      color: $dmTertiaryAccent;
      background-image: linear-gradient(
        to top,
        rgba($dmActionRespond, 0) 3%,
        rgba($dmActionRespond, 0.5) 3%,
        rgba($dmActionRespond, 0.5) 14%,
        rgba($dmActionRespond, 0) 14%
      );
    }
  }
}

// SVG bug work aroud whereby svg's require a height of some kind
svg {
	max-height: 11000px;
}


// Overide iOS telephone styling on links
a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

// Reset form spacing
form {
  margin: 0;
}
