// Brandfonts

$fontdir: "//cdn.dotmesh.com/fonts/";

@font-face {
    font-family: 'Inconsolata';
    src: url($fontdir + 'inconsolata-regular-webfont.ttf') format('truetype'),
         url($fontdir + 'inconsolata-regular-webfont.woff2') format('woff2'),
         url($fontdir + 'inconsolata-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url($fontdir + 'averta-light-webfont.eot');
    src: url($fontdir + 'averta-light-webfont.eot?#iefix') format('embedded-opentype'),
         url($fontdir + 'averta-light-webfont.woff2') format('woff2'),
         url($fontdir + 'averta-light-webfont.woff') format('woff'),
         url($fontdir + 'averta-light-webfont.ttf') format('truetype'),
         url($fontdir + 'averta-light-webfont.svg#avertalight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url($fontdir + 'averta-regular-webfont.eot');
    src: url($fontdir + 'averta-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url($fontdir + 'averta-regular-webfont.woff2') format('woff2'),
         url($fontdir + 'averta-regular-webfont.woff') format('woff'),
         url($fontdir + 'averta-regular-webfont.ttf') format('truetype'),
         url($fontdir + 'averta-regular-webfont.svg#avertaregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url($fontdir + 'averta-regularitalic-webfont.eot');
    src: url($fontdir + 'averta-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url($fontdir + 'averta-regularitalic-webfont.woff2') format('woff2'),
         url($fontdir + 'averta-regularitalic-webfont.woff') format('woff'),
         url($fontdir + 'averta-regularitalic-webfont.ttf') format('truetype'),
         url($fontdir + 'averta-regularitalic-webfont.svg#avertaregular_italic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Averta';
    src: url($fontdir + 'averta-semibold-webfont.eot');
    src: url($fontdir + 'averta-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url($fontdir + 'averta-semibold-webfont.woff2') format('woff2'),
         url($fontdir + 'averta-semibold-webfont.woff') format('woff'),
         url($fontdir + 'averta-semibold-webfont.ttf') format('truetype'),
         url($fontdir + 'averta-semibold-webfont.svg#avertasemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url($fontdir + 'averta-bold-webfont.eot');
    src: url($fontdir + 'averta-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url($fontdir + 'averta-bold-webfont.woff2') format('woff2'),
         url($fontdir + 'averta-bold-webfont.woff') format('woff'),
         url($fontdir + 'averta-bold-webfont.ttf') format('truetype'),
         url($fontdir + 'averta-bold-webfont.svg#avertabold') format('svg');
    font-weight: 700;
    font-style: normal;
}

// Better local fonts
@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Segoe UI Light"), local("Ubuntu Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma"); }

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 300;
  src: local(".SFNSText-LightItalic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Light Italic"), local("Ubuntu Light Italic"), local("Roboto-LightItalic"), local("DroidSans"), local("Tahoma"); }

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 400;
  src: local(".SFNSText-Regular"), local(".HelveticaNeueDeskInterface-Regular"), local(".LucidaGrandeUI"), local("Segoe UI"), local("Ubuntu"), local("Roboto-Regular"), local("DroidSans"), local("Tahoma"); }

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 400;
  src: local(".SFNSText-Italic"), local(".HelveticaNeueDeskInterface-Italic"), local(".LucidaGrandeUI"), local("Segoe UI Italic"), local("Ubuntu Italic"), local("Roboto-Italic"), local("DroidSans"), local("Tahoma"); }

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 500;
  src: local(".SFNSText-Medium"), local(".HelveticaNeueDeskInterface-MediumP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold"), local("Ubuntu Medium"), local("Roboto-Medium"), local("DroidSans-Bold"), local("Tahoma Bold"); }

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 500;
  src: local(".SFNSText-MediumItalic"), local(".HelveticaNeueDeskInterface-MediumItalicP4"), local(".LucidaGrandeUI"), local("Segoe UI Semibold Italic"), local("Ubuntu Medium Italic"), local("Roboto-MediumItalic"), local("DroidSans-Bold"), local("Tahoma Bold"); }

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 700;
  src: local(".SFNSText-Bold"), local(".HelveticaNeueDeskInterface-Bold"), local(".LucidaGrandeUI"), local("Segoe UI Bold"), local("Ubuntu Bold"), local("Roboto-Bold"), local("DroidSans-Bold"), local("Tahoma Bold"); }

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 700;
  src: local(".SFNSText-BoldItalic"), local(".HelveticaNeueDeskInterface-BoldItalic"), local(".LucidaGrandeUI"), local("Segoe UI Bold Italic"), local("Ubuntu Bold Italic"), local("Roboto-BoldItalic"), local("DroidSans-Bold"), local("Tahoma Bold"); }
