@import 'shared/color.scss';
@import 'shared/fonts.scss';

.guide_index {
  padding: 8rem 10%;
  &_list {
    list-style-type: none;
    padding: 1rem 4rem 1rem 5rem;
    border-left: 3px solid #5c2d70;
    margin-top: 4rem;
    margin-bottom: 10rem;
    li {
      font-size: 16px;
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 4px;
      }
    }
  }
}

.guide_h1 {
  font-size: 22px;
  line-height: 29px;
  margin-bottom: 22px;
  color: #333;
}

.guide_swatches {
  display: grid;
  grid-template-columns: repeat(8, 100px);
  grid-gap: 16px;
  list-style-type: none;
  margin-bottom: 10rem;
}

@each $name, $color in
		('Byers', $dmByers),
		('Henderson', $dmHenderson),
		('Wheeler', $dmWheeler),
		('Eleven', $dmEleven),
		('Hopper', $dmHopper),
		('Sinclair', $dmSinclair),
		('Mayfield', $dmMayfield),
		('Harrington', $dmHarrington),
		('Holland', $dmHolland),
    ('Hawkins', $dmHawkins),
    ('Hargrove', $dmHargrove),
	{
  .guide_swatch#{$name} {
    .guide_swatch_block   { background-color: $color; }
    &:after               { content: "#{$color}"; }
  }
}

.guide_swatch {
  display: block;
  font-size: 13px;
  line-height: 13px;
  color: #333;
  &:after {
    @extend .guide_swatch_meta;
  }
  &_block {
    height: 90px;
    width: 100%;
    display: block;
    margin-bottom: 7px;
  }
  &_meta {
    display: block;
    margin-top: 7px;
  }
}
