<!doctype html>
<html lang="en-GB" class="">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  {% include 'layouts/partials/head.html' %}
<body>
  <div class="docs">
    <aside class="docs_aside">
      <div class="titlecard">
				<a href="/" rel="home">
	        <svg class="icon icon36 icon_marque_small_svg">
	          <use xlink:href="./assets/icons/renders/sprite.svg#marque_small"></use>
	        </svg>
				</a>
        <span class="titlecard_version">v: 0.0.1 Alpha.</span>
        <h1 class="typeM heading"><a href="/" role="home">dotmesh docs.</a></h1>
      </div>
			<div class="navigationtrigger">
	      <button type="button" class="navigationtoggle" id="navigationtoggle">
					Menu
					<svg class="icon icon16 icon_arrow_toggle_svg">
	          <use xlink:href="./assets/icons/renders/sprite.svg#arrow_toggle"></use>
	        </svg>
				</button>
			</div>
			<form class="searchbar">
				<div class="searchbar_field">
					<label for="searchbar_input" class="searchbar_label">Search docs</label>
					<input class="searchbar_input" type="text" value="{% if setTerm == '' %}{% else %}{{ setTerm }}{% endif %}" id="searchbar_input" placeholder="Search docs.">
					<b></b><!-- This isn't a mistake, it's a visual hack -->
				</div>
				<button class="searchbar_button" type="submit">
					<svg class="icon icon22 icon_search_svg">
						<use xlink:href="./assets/icons/renders/sprite.svg#search"></use>
					</svg>
				</button>
			</form>
      <div class="navigationwrapper navigationwrapperCollapsed" id="navigationwrapper">
        <nav class="navigation">
          <ul class="navigation_parent">
            {% block aside %}
            {% endblock %}
          </ul>
        </nav>
      </div>
    </aside>
    <div class="docs_body">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script> 
  <script type="text/javascript">
    // TODO move into external file
    var mainNav = document.getElementById('navigationwrapper');
    var navToggle = document.getElementById('navigationtoggle');

    // Start by adding the class "collapse" to the mainNav
    //mainNav.classList.add('navigationwrapperCollapsed');

    // Establish a function to toggle the class "collapse"
    function mainNavToggle() {
      mainNav.classList.toggle('navigationwrapperCollapsed');
      navToggle.classList.toggle('navigationtoggleActive');
    }
    // Add a click event to run the mainNavToggle function
    navToggle.addEventListener('click', mainNavToggle);

    docsearch({ 
     apiKey: '6d43307603b5a549a82161f4f44a2d1e', 
     indexName: 'dotmesh', 
     inputSelector: '#searchbar_input', 
     debug: true 
    }); 

    (function(document, Clipboard) {  
      new Clipboard('.copy', {
          target: function(trigger) {
              trigger.innerHTML="copied";
              setTimeout(function() {
                trigger.innerHTML="copy";
              }, 1500);                
              return trigger.previousElementSibling;
          }
      });
    })(document, Clipboard);
    
    (function() {
      function preCode(selector) {
        var els = Array.prototype.slice.call(document.querySelectorAll(selector), 0);

        els.forEach(function(el) {
          var txt = el.textContent
            .replace(/^[\r\n]+/, "")
            .replace(/\s+$/g, "");

          if (/^\S/gm.test(txt)) {
            el.textContent = txt;
            return;
          }

          var mat, str, re = /^[\t ]+/gm, len, min = 1e3;

          while (mat = re.exec(txt)) {
            len = mat[0].length;

            if (len < min) {
              min = len;
              str = mat[0];
            }
          }

          if (min == 1e3)
            return;

          el.textContent = txt.replace(new RegExp("^" + str, 'gm'), "");
        });
      }
      

      document.addEventListener("DOMContentLoaded", function() {
        preCode("pre code, textarea");
      }, false);
    })();      
  </script>  
</body>

{% block footer_after %}
{% endblock %}
</html>
